mixin tpl-tool-bar
    div.tool-bar.flex-center
        a(href="javascript:;")
            img(src="./images/icon-fire.png" alt="我的")
            span 我的
        a(href="javascript:;")
            img(src="./images/icon-message.png" alt="信息")
            span 信息
        a(href="javascript:;")
            img(src="./images/icon-kefu.png" alt="客服")
            span 客服
        a(href="javascript:;")
            img(src="./images/icon-quit.png" alt="退出")
            span 退出


mixin tpl-top-bar(title)
    div.top-bar.flex-center
        div.rel
            h1.title #{title || 'M币明细'}
            div.back
                a
                    img(src="./images/back.png" alt="返回")

mixin tpl-line-text
    div.line-text
        span 推荐收益: 5236元
        span 升级收益: 55236元
        span 总团队: 510人

mixin tpl-line-menu
    div.line-menu
        div.rel
            div.abs
                a
                    span 全部
                a
                    span 静态收益
                a
                    span 推荐收益
                a.active
                    span 升级收益

mixin tpl-list-icon-li(title,icon,money)
    li
        a(href="javascript:;")
            div.icon
                img(src='./images/'+ (icon || "list-icon1.png"))
            div.list-icon-label
                div.title #{title || '静态收益'}
                div.time-area
                    span 2017/09/18
                    span 08:59:33
            div.list-icon-right
                div.money #{money || '+100.00'}
mixin tpl-list-icon-li-1(title,icon,plus,money)
    li
        a(href="javascript:;")
            div.icon
                img(src='./images/'+ (icon || "icon-active.png"))
            div.list-icon-label
                div.title #{title || '激活张三三'}
                div.time-area 剩余Q币种子:200
            div.list-icon-right
                if(plus)
                    div.money.plus #{money || '-100.00'}
                else
                    div.money #{money || '+100.00'}
                div.time
                    label 2017/09/21
                    | 08:59:03
mixin tpl-list-icon
    div.list-icon
        ul
            +tpl-list-icon-li
            +tpl-list-icon-li('推荐收益','list-icon2.png')
            +tpl-list-icon-li('升级收益','list-icon3.png')

mixin tpl-list-icon1
    div.list-icon
        ul
            +tpl-list-icon-li-1
            +tpl-list-icon-li-1('李四转入','icon-person-in.png')
            +tpl-list-icon-li-1('激活张三三','icon-person-out.png',true)
            +tpl-list-icon-li-1('系统转入','icon-system-in.png')
            +tpl-list-icon-li-1('系统扣出','icon-system-out.png',true)

mixin tpl-notice-list
    div.notice-list
        ul
            li
                div.time
                    span.year 2017
                    span.date 08/15
                div.middle
                    span.title 【系统名字】某某系统
                    p 系统于2017年08月2
                div.right
                    a.view
                        img(src='./images/view.png')
            li
                div.time
                    span.year 2017
                    span.date 08/15
                div.middle
                    span.title 【系统名字】某某系统上线
                    p 系统于2017年08月29号正式上线，亲们随时
                div.right
                    a.view
                        img(src='./images/view.png')

mixin tpl-team-list
    div.team-list
        ul
            li
                div.left
                    span.person-img(style="background-image:url('./images/icon-chuizi.png')")
                    span.state
                        img(src="./images/active.png" alt="已激活")
                div.right
                    div 姓名 : 张三三
                    div 电话 : 18515312314
                    div 等级 : 初级
                    div.time
                        img(src='./images/icon-time.png' alt="时间")
                        span 17/09/15   20:18:06
                    a.view 查看详情
            li
                div.left
                    span.person-img(style="background-image:url('./images/icon-chuizi.png')")
                    span.state
                        img(src="./images/inactive.png" alt="未激活")
                div.right
                    div 姓名 : 张三三
                    div 电话 : 18515312314
                    div 等级 : 初级
                    div.time
                        img(src='./images/icon-time.png' alt="时间")
                        span 17/09/15   20:18:06
                    a.view 查看详情